<h1>New task</h1>

<%# <%= form_for(@task) do |task| %>
  <%# <%= task.label :title %>
  <%# <%= task.text_field :title %>
  <%# <%= task.label :details %>
  <%# <%= task.text_field :details %>

  <%# the below field should be removed %>

  <%# <%= task.label :completed %>
  <%# <%= task.check_box :completed %>

  <%# <%= task.submit %>
<%# <% end %>


<%= render "form", task: @task %>
